/*Styles for all pages*/

/*Imported Font*/
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700&display=swap');

body {
  background: #f2f2f2;
  /*Text color*/
  color: #0640c7;
  font-family: "Nunito";
}
a {
  /*Hyperlink color*/
  color: #3717d9;
  /*Removes default underline and color of hyperlinks*/
  text-decoration: none;
}
.content {
  /*Width of content class in Layout*/
  max-width: 1440px;
  /*Auto centers {top/bottom right/left}*/
  margin: 0px auto;
}
nav {
  /*{top right/left bottom}*/
  margin: 10px auto 80px;
  /*{top/bottom right/left}*/
  padding: 10px 0;

  /*Justify all hyperlinks to the right*/
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  /*Border line*/
  border-bottom: 1px solid #c20fc5;
}
nav a {
  /*Makes a margin to the left of each hyperlink*/
  margin-left: 12px;
}
nav .logo {
  /*Margin for Ninja List Logo*/
  margin-right: auto;
}
footer {
  display: block;
  text-align: center;
  padding: 30px 0;
  margin-top: 60px;
  color: #5d064f;
  border-top: 1px solid #10a8ca;
}