/*Styles that can be used for specific className*/

/*
.container{

  background: rgb(6, 206, 69);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
*/

.one{
  background: green;
  width: 50%;
  height: 300px;
  float: left;

  display: flex;
  justify-content: center;
  align-items: center;
}

.square{
  background-color: blue;
  color: white;
  width: 100px;
  height: 100px;
  margin: 0 auto;
  
  display: flex;
  justify-content: center;
  align-items: center;

  box-shadow: 5px 10px 15px 20px black inset;

}






.two{
  background: pink;
  width: 50%;
  height: 300px;
  float: right;

  display: flex;
  justify-content: center;
  align-items: center;
}

.circle{
  background-color: purple;
  color: white;
  width: 100px;
  height: 100px;
  margin: 0 auto;

  display: flex;
  justify-content: center;
  align-items: center;
    
  border-radius: 50%;

  filter: drop-shadow(.5em .10em  black)

}






.three{
  background: purple;
  width: 50%;
  height: 300px;
  float: left;

  display: flex;
  justify-content: center;
  align-items: center;
}

.triangle{
  background-color: purple;
  color: white;
  margin: 0 auto;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 0;
  height: 0;

  border-bottom: 100px solid pink;
  border-left: 100px solid transparent;
  border-right: 100px solid transparent;
  
}






.four{
  background: blue;
  width: 50%;
  height: 300px;
  float: right;

  display: flex;
  justify-content: center;
  align-items: center;
}

.diamond{
  background: linear-gradient(green, white);
  color: white;
  width: 100px;
  height: 100px;
  margin: 0 auto;

  display: flex;
  justify-content: center;
  align-items: center;

  transform: skew(-0.12turn, 40deg);

}





/*For Tutorial*/
.title {
  color: #333;
  padding-bottom: 20px;
  text-align: center;
}
.text {
  color: #777;
}
.btn {
  display: block;
  width: 150px;
  padding: 8px 0;
  margin: 20px auto;
  background: #0942de;
  border-radius: 4px;
  color: white;
  text-align: center;
}

